:root {
    /** Titlebar **/
    --titlebar-bg : #6A6CD1;
    --titlebar-fg : #fff;
    --titlebar-height: 32px;

    --help-btn-bg: #14BEF0;
    --help-btn-fg: #fff;

    --close-btn-hover-bg: rgb(255, 47, 47);
    --minimize-btn-hover-bg: rgb(58, 58, 58);
    --maximize-btn-hover-bg: rgb(58, 58, 58);

    /** Footer **/
    --footer-height: 0px;

    /** Sidebar **/
    --sidebar-bg: #3B404F;
    --sidebar-fg: #A9ADC2;
    --sidebar-border: #515668;

    --sidebar-hover-bg: #515668;
    --sidebar-active-bg: #464c5d;

    --sidebar-width: 64px;
}