.title {
    height: var(--titlebar-height);
}

.root {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.content{
    height: calc( 100vh - var(--titlebar-height) - var(--footer-height));
}

.foot{
    height: var(--footer-height);
}